{% extends 'base.html' %}
{% load static %}
{% block title %} Futureview Loan - Products | Education {% endblock %}
{% block content %}
<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="personal-loan.html#">Home</a></li>
                            <li><a href="personal-loan.html#">Loan Product</a></li>
                            <li class="active">Car Loan</li>
                        </ol>
                    </div>
                </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside30">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                                <h1 class="page-title">Car Loan</h1>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12 col-12">
                                <div class="row">
                             <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                                        <div class="rate-block">
                                            <h1 class="rate-number">5.50%</h1>
                                            <small>Rate of Interest</small> </div>
                                    </div>
                                  <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="contact-us.html" class="btn btn-primary">Get a call back</a> <a href="personal-loan.html#" class="btn btn-default">Emi Calculator</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item"><a href="personal#section-about" class="page-scroll nav-link">About Loan</a></li>
                             <li class="nav-item"><a href="personal-loan.html#section-typeloan" class="page-scroll nav-link">types of loan</a></li>
                             <li class="nav-item"><a href="personal-loan.html#section-feature" class="page-scroll nav-link">features &amp; Benefits</a></li>
                             <li class="nav-item"><a href="personal-loan.html#section-eleigiblity" class="page-scroll nav-link">eligibility</a></li>
                             <li class="nav-item"><a href="personal-loan.html#section-faq" class="page-scroll nav-link">FAQ’S</a></li>
                            <li class="nav-item"><a href="personal-loan.html#section-apply" class="page-scroll nav-link">Apply now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="wrapper-content bg-white">
                        <div class="section-scroll pinside60" id="section-about">
                            <h1>About Car Loan</h1>
                            <p class="lead">A car loan is a great way to drive your dream car without making the complete payment upfront. You don't need to wait for some more months or years to buy your dream car as you can take a car loan to meet your fund requirement.</p>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <p>Vestibulum accumsan, diam vitae consectetur sodales sapien felis vestibulum purus,ac porttitor elit dolor venenatis Cras condimacilicelerisque orci nisi sit amet neque. </p>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <p>Pellentesque mollis, diam a viverra luctus, nisl dui vehicula erat, id congue ante justo nec ante. Nullam vehicula tellus sit amet dolor tristique, faucibus rhoncus velit elementum.</p>
                                </div>
                            </div>
                            <hr>
                            <p>Phasellus tellus nunc, sollicitudin quist amet it simple nequeuisque lacus mi tesimly diummy cintenbt mpus nec purus vitae tempor placerat leo. </p>
                            <a href="/accounts/login" class="btn btn-default">Apply for loan</a> </div>
                        <div class="section-scroll" id="section-typeloan">
                            <div class="bg-light pinside60">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="section-title mb60">
                                            <h2>Get financing for whatever you need now</h2>
                                            <p>Achieve all your goals and aspirations; with the right kind of help, exactly when you need it.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-blurb mb60">
                                            <h3>New Car Loan</h3>
                                            <p>Borrow-Loan Company offers new car loan at fair interest rates and adjustable repayment terms.Fast sanction, personalised service and absolute transparency in new car loans.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-blurb mb60">
                                            <h3>Pre Owend Car</h3>
                                            <p>We have tie-ups across the widest range of authorised pre-owned car dealers. Attractive car loans for used cars. Pre-Owned car finance available at Borrow Loan Company.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-blurb mb60">
                                            <h3>Loan Against Car</h3>
                                            <p>With no income documents required, getting a loan couldn’t get any easier. Borrow-Loan Company offers you car loan at basic interest rates and flexible EMI for repayment.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-blurb mb60">
                                            <h3>Other Loan</h3>
                                            <p>Borrow-Loan Company also grant different loans like Home loan, Personal loan and Educate loan at fair rate of interest and flexible EMI. For more detail you can check our loan products.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-default pinside80 text-center">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h1 class="text-white">Get financing for whatever you need now</h1>
                                    <a href="car-loan.html#" class="btn btn-default">Enquire Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="section-scroll" id="section-feature">
                            <div class="pinside60">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="section-title mb60">
                                            <h2>Features of Car Loan</h2>
                                            <p> All loans are not created equal, personal loan has become a great option for people to use.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-dollar-bill icon-default icon-2x"></i></div>
                                            <h3>Cash Loan Facility</h3>
                                            <p>Maecenas in ultricies sem. Nunc eget orci mi. Sed porttitor s, tellus fringilla condimentum eglis elit dictum cerat. </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-documentation icon-default icon-2x"></i></div>
                                            <h3>Special Preapproved Loan</h3>
                                            <p>Pellentesque mollis, diam a viverra luctus, nisl dui vehicula erat, id congue ante hicula tellus sit amet.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-money icon-default icon-2x"></i></div>
                                            <h3>No Varifactions</h3>
                                            <p>Our loan rates and charges are very attractive lorem ipsums sitamet uerse ipsum.Curabitulectus mattis vitae. </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-dollar-coins icon-default icon-2x"></i></div>
                                            <h3>150% Funding on Loan</h3>
                                            <p>Nunc eget orci mi. Sed porttitor lacus quis scelerisque dignissim. Nullam bibendu msfeus, isapien dolor et dui.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-scroll" id="section-eleigiblity">
                            <div class=" bg-light pinside60">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="section-title mb60">
                                            <h2>Car Loan - Eligibility</h2>
                                            <p> Any salaried, self-employed or professional Public and Privat companies, Government sector employees including Public Sector is eligible for a personal loan. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="feature-blurb mb30">
                                            <h3>Age</h3>
                                            <p>Maximum age of applicant at loan maturity: 60 years</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="feature-blurb mb30">
                                            <h3>Income</h3>
                                            <p>Minimum Net Monthly Income: Rs 15,000</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="feature-blurb mb30">
                                            <h3>Credit Rating</h3>
                                            <p>Applicant should have the bank specified credit score. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 col-xs-12"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-scroll" id="section-faq">
                            <div class="pinside60">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="section-title mb60">
                                            <h2>Frequently Ask Questions</h2>
                                            <p>If you have a question that deals with clients, customers or the public in general, there is bound to be a need for the FAQ page. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 st-accordion col-12">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="car-loan.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">Can I pay off my loan early?</a> </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="car-loan.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Do you offering refinancing ?</a> </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p>Aenean convallis, odio in eleifend tristique, sem nisl tincidunt magna, quis fermentum augue neque a diam. Praesent hendrerit risus a imperdiet viverra. Suspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                        <p>Incidunt magna quis fermentum augue neque ullam vulputate, odio ac maximus consequat, nisl lorem maximus turpis, nec laoreet est ex vel elit. Sed placerat laoreet lobortis. a diam raesent hendrerit risus a imperdiet viverra uspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="car-loan.html#collapseThree" aria-expanded="false" aria-controls="collapseThree"> When should i apply? </a> </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p>Incidunt magna quis fermentum augue neque ullam vulputate, odio ac maximus consequat, nisl lorem maximus turpis, nec laoreet est ex vel elit. Sed placerat laoreet lobortis. a diam raesent hendrerit risus a imperdiet viverra uspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                        <ul>
                                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                            <li>Cras imperdiet ligula ac elit sollicitudin scelerisque.</li>
                                                            <li>Nunc viverra mi et risus dictum condimentum.</li>
                                                            <li>Integer ac mi nec elit cursus rutrum ac in odio.</li>
                                                            <li>Integer sit amet sapien dapibus libero finibus pellentesque eu at purus.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingFour">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="car-loan.html#collapseFour" aria-expanded="true" aria-controls="collapseFour">Where are you located?</a> </h4>
                                                </div>
                                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-scroll" id="section-apply">
                            <div class="bg-light pinside60">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="section-title mb60 text-center">
                                            <h1>Get a Quote</h1>
                                            <p>Now apply for a Car Loan online, All you need to do is provide your details below application form.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <form class="">
                                            <fieldset>
                                                <!-- Text input-->
                                                <div class="row">
                                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                        <div class=" form-group ">
                                                            <label class="control-label" for="name">Name</label>
                                                            <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required>
                                                            <span class="help-block"> </span> </div>
                                                    </div>
                                                    <!-- Text input-->
                                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                                        <div class="form-group ">
                                                            <label class=" control-label" for="email">E-Mail</label>
                                                            <input id="email" name="email" type="text" placeholder="E-mail" class="form-control input-md">
                                                        </div>
                                                    </div>
                                                    <!-- Text input-->
                                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                                        <div class="form-group ">
                                                            <label class="control-label" for="phone">Phone</label>
                                                            <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                        <div class="form-group slide-ranger ">
                                                            <p id="slider-range-min"></p>
                                                            <label for="amount" class="control-label">Loan Amount</label>
                                                            <input type="text" id="amount" readonly class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                        <div class="form-group slide-ranger ">
                                                            <p id="slider-range-max"></p>
                                                            <label for="amount" class="control-label">Year</label>
                                                            <input type="text" id="j" readonly class="form-control">
                                                        </div>
                                                    </div>
                                                    <!-- Button -->
                                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                                        <button id="Submit" name="Submit" class="btn btn-primary btn-block">Submit New Quote</button>
                                                    </div>
                                            </fieldset>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-share">
                            <ul class="listnone">
                                <li><a href="car-loan.html#" class="btn-share btn-facebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="car-loan.html#" class="btn-share btn-twitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li>
                                    <a href="car-loan.html#" class="btn-share btn-google" title="Share on Google"> <i class="fa fa-google"></i></a>
                                </li>
                                <li><a href="car-loan.html#" class="btn-share btn-linkedin" title="Share on Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}