{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="slider" id="slider">
            <!-- slider -->
            <div class="slider-img"><img src="{% static 'images/slider-1.jpg' %}" alt="Borrow - Loan Company Website Template" class="">
                <div class="container">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title">Choose the Best Loan. Apply Now!</h1>
                            <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">The low rate you need for the need you want! Call
                                <br> (555) 123-4567</p>
                            <a href="loan-listing-image.html" class="btn btn-default">get started today</a> </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img"><img src="{% static 'images/slider-2.jpg' %}" alt="Borrow - Loan Company Website Template" class="">
                    <div class="container">
                        <div class=" col-xl-6 col-lg-6 col-md-12  col-sm-12 col-12">
                            <div class="slider-captions">
                                <!-- slider-captions -->
                                <h1 class="slider-title">Award winning car loans with Borrow</h1>
                                <p class="slider-text d-none d-xl-block d-lg-block d-sm-block"> Award winning car loans with low fixed rates and no ongoing fees.</p>
                                <a href="loan-listing-image.html" class="btn btn-default ">View Products</a> </div>
                            <!-- /.slider-captions -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img"><img src="{% static 'images/slider-3.jpg' %}" alt="Borrow - Loan Company Website Template" class="">
                    <div class="container">
                        <div class="col-xl-6 col-lg-6 col-md-12  col-sm-12 col-12">
                            <div class="slider-captions">
                                <!-- slider-captions -->
                                <h1 class="slider-title">Education Loan From Borrow Rate Low Of Interest.</h1>
                                <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">Education Loan From Avanse At An Attractive Rate Of Interest. Apply Now!</p>
                                <a href="loan-listing-image.html" class="btn btn-default">View Products</a> </div>
                            <!-- /.slider-captions -->
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="rate-table">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rate-counter-block">
                            <div class="icon rate-icon  "> <img src="{% static 'images/mortgage.svg' %}" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                            <div class="rate-box">
                                <h1 class="loan-rate">3.74%</h1>
                                <small class="rate-title">Home Loans</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rate-counter-block">
                            <div class="icon rate-icon  "> <img src="{% static 'images/loan.svg' %}" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                            <div class="rate-box">
                                <h1 class="loan-rate">8.96%</h1>
                                <small class="rate-title">Personal Loans</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rate-counter-block">
                            <div class="icon rate-icon  "> <img src="{% static 'images/car.svg' %}" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                            <div class="rate-box">
                                <h1 class="loan-rate">6.70%</h1>
                                <small class="rate-title">Car Loans</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rate-counter-block">
                            <div class="icon rate-icon  "> <img src="{% static 'images/credit-card.svg' %}" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                            <div class="rate-box">
                                <h1 class="loan-rate">9.00%</h1>
                                <small class="rate-title">Credit card</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="section-space80">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 ">
                        <div class="mb60 text-center section-title">
                            <!-- section title start-->
                            <h1>Let us help you find a loan</h1>
                            <p>We will match you with a loan program that meet your financial need.</p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="service-img-box mb30 text-center outline">
                            <div class="service-img">
                                <a href="personal-loan.html" class="imghover"><img src="{% static 'images/blog-img.jpg' %}" alt="Borrow - Loan Company Website Template " class="img-fluid"></a>
                            </div>
                            <div class="service-content bg-white pinside30">
                                <h2><a href="personal-loan.html" class="title">Personal Loan</a></h2>
                                <p>Discover flexible car financing options for new or used cars, and specialty vehicles nsequat fringi porta.</p>
                                <a href="personal-loan.html" class="btn-link">Read more</a> </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="service-img-box mb30 text-center outline">
                            <div class="service-img">
                                <a href="home-loan.html" class="imghover"><img src="{% static 'images/blog-img-1.jpg' %}" alt="Borrow - Loan Company Website Template " class="img-fluid"></a>
                            </div>
                            <div class="service-content bg-white pinside30">
                                <h2><a href="home-loan.html" class="title">Home Loan</a></h2>
                                <p>Lorem ipsum dolor sitamet secteture adipiscing eilit mauris diem lorem ipsum anibus atdsim eipit. </p>
                                <a href="home-loan.html" class="btn-link">Read more</a> </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="service-img-box mb30 text-center outline">
                            <div class="service-img">
                                <a href="education-loan.html" class="imghover"><img src="{% static 'images/blog-img-2.jpg' %}" alt="Borrow - Loan Company Website Template " class="img-fluid"></a>
                            </div>
                            <div class="service-content bg-white pinside30">
                                <h2><a href="education-loan.html" class="title">Education Loan</a></h2>
                                <p>Serlaoreet necroin lobortis diam sit rem sitamet urna porttitor lorem amesroces livose lorem anois.</p>
                                <a href="education-loan.html" class="btn-link">Read more</a> </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="cta">
            <div class="container">
                <div class="row">
                    <div class=" offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12 ">
                        <div class="mb60 text-center section-title text-white">
                            <!-- section title start-->
                            <h1 class="text-white">Why People Choose Us</h1>
                            <p>We understand how to effectively guide you through the home loan or refinance process and avoid potential problems along the way. </p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="number-block text-white">
                            <div class="mb30"><i class="icon-command  icon-4x icon-white"></i></div>
                            <h3 class="text-white mb30">Dedicated Specialists</h3>
                            <p>Duis eget diam quis elit erdiet alidvolutp terdum tfanissim non intwesollis eu mauris.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="number-block text-white">
                            <div class="mb30"><i class="icon-calculator  icon-4x icon-white"></i></div>
                            <h3 class="text-white mb30">No Front Appraisal Fees!</h3>
                            <p>Integer faisis fringilla dolor ut luctus nisi volutpatIn terdum tferra dsim fermentum orci.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="number-block text-white">
                            <div class="mb30"><i class="icon-dialog  icon-4x icon-white"></i></div>
                            <h3 class="text-white mb30">Success Stories Rating</h3>
                            <p>Integer facilisis fringilla dolor volutpatIn terdum tfanissim velitliquam at fermentum orci.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="bg-white section-space80">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12">
                        <div class="mb60 text-center section-title">
                            <!-- section title start-->
                            <h1>Our Client Testimonial</h1>
                            <p>See what our customers have to say about Borrow products, people and services.</p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 clearfix col-12">
                        <div class="testimonial-block mb30 text-center">
                            <div class=" mb20 testimonial-img-1"> <img src="{% static 'images/testimonial-img.jpg' %}" alt="Borrow - Loan Company Website Template" class="img-circle"> </div>
                            <div class="mb20">
                                <p class="testimonial-text"> “I loved the customer service you guys provided me. That was very nice and patient with questions I had. I would really like definitely come back here”</p>
                            </div>
                            <div class="testimonial-autor-box">
                                <div class="testimonial-autor">
                                    <h4 class="testimonial-name-1">Donny J. Griffin</h4>
                                    <span class="testimonial-meta">Personal Loan</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 clearfix col-12">
                        <div class="testimonial-block mb30 text-center">
                            <div class="mb20 testimonial-img-1"> <img src="{% static 'images/testimonial-img-1.jpg' %}" alt="Borrow - Loan Company Website Template" class="img-circle"> </div>
                            <div class="mb20">
                                <p class="testimonial-text">Donec arcu lacus, accumsan vel metus laoreet, pulvinar imperdiet nisi lorem sipusmn ras vel sapien imperdiet nisi sagittis ornare sed congue sem.</p>
                            </div>
                            <div class="testimonial-autor-box">
                                <div class="testimonial-autor">
                                    <h4 class="testimonial-name-1">Mary O. Randle</h4>
                                    <span class="testimonial-meta">Education Loan</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}