{% extends 'base.html' %}
{% load static %}
{% block title %} Futureview Loans - Team {% endblock %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Meet our Team</li>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                   <div class="bg-white pinside30">
                        <div class="row">
                           <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                                <h1 class="page-title">Team</h1>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="about.html#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="about.html#" class="nav-link">Emi Caculator</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white pinside40">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="mb60">
                                <p class="lead">We love our team. And apparently, they love us back. Watch their stories about how they helped them get ahead. We look forward to working with you for all of your lending needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="{% static 'images/team1.jpg' %}" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Daniel Moore</h3>
                                    <small class="designation">Senior Advisor</small> </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="{% static 'images/team2.jpg' %}" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Rodney Raymond</h3>
                                    <small class="designation">Senior Advisor</small> </div>
                            </div>
                        </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="{% static 'images/team3.jpg' %}" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Laura Wright</h3>
                                    <small class="designation">Business Manager</small> </div>
                            </div>
                        </div>
                            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="images/team4.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Robert C. Sanchez</h3>
                                    <small class="designation">Senior Advisor</small> </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="images/team5.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Royce M. Larsen</h3>
                                    <small class="designation">Senior Advisor</small> </div>
                            </div>
                        </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="images/team6.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Belinda S. Manson</h3>
                                    <small class="designation">Business Manager</small> </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="images/team7.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Ryder Lothian</h3>
                                    <small class="designation">Senior Advisor</small> </div>
                            </div>
                        </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="images/team8.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Michael Cody</h3>
                                    <small class="designation">Senior Advisor</small> </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="images/team9.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Mariam Ness</h3>
                                    <small class="designation">Business Manager</small> </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}